<div class="container jbrowse">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" data-toggle="buttons">
                <label tooltip-placement="right" tooltip="Selecting a new sequence track when one already present
                    will also delete other tracks in your current view."
                    tooltip-trigger="{{ selectionModel.restrictedMode ? 'false' : 'mouseenter'}}">
                    <button class="btn btn-default" ng-click="collapse('Sequence')"
                            ng-class="{ 'active': selectionModel.type == 'Sequence' && isCollapsed == false }">
                        Sequence
                    </button>
                </label>
                <label tooltip-placement="top" tooltip="First, add a sequence track."
                    tooltip-trigger="{{ selectionModel.restrictedMode ? 'mouseenter' : 'false'}}">
                    <button class="btn btn-default" ng-class="{ 'active': selectionModel.type == 'Other' && isCollapsed == false }"
                            ng-click="collapse('Other')" ng-disabled="selectionModel.restrictedMode">
                        Alignment data
                    </button>
                </label>
            </div>

            <div collapse="isCollapsed">
                <div class="row">
                    <div class="col-md-6">
                        <div class="cases">
                            <div class="case-list">
                                <div class="case-filter input-group">
                                    <span class="input-group-addon">Filter project: </span>
                                    <input id="project-filter" type="text" class="form-control" ng-model="project_filter.$" placeholder="keywords">
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item case" ng-repeat="case in projectsData.objects | filter:project_filter">
                                        <div class="title"><a href ng-click="selectProject(case.id);">{{case.name}} <span class="glyphicon glyphicon-chevron-right"></span></a></div>
                                        <div class="description">{{case.description}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <gen-table gen-options="tableOptions">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <gen-browser name="browser" gen-browser-options="genBrowserOptions">
</div>