<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}gencloud/less/base.less">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/jquery.ui/themes/base/base.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/jquery.ui/themes/base/theme.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/jquery.ui/themes/base/datepicker.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/jquery-file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/jquery-file-upload/css/jquery.fileupload-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/angular-grid/ng-grid.css">

<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}genapp-jbrowse/less/base.less">
